<h1>Books by <%= @author.name %> </h1>

<% @author.books.each do |book| %>
  <section id='book-<%= book.id %>'>
    <h3><%= link_to book.title, book_path(book) %></h3>
    <p>Rating: <%= book.rating_avg %></p>
    <p>Reviews: <%= book.reviews_count %></p>
    <p>Co-authors: <%= book.co_authors(@author).join(", ").presence || "None" %></p>
    <p>Pages: <%= book.pages %></p>
    <p>Published: <%= book.published %></p>
    <img src=<%= book.image %> alt=<%= book.title %> style="width:200px;height:200px;">

    <div>
      <strong>Highest Rated Review</strong>
      <p><%= link_to book.top_review.title, review_path(book.top_review) %>
      By: <%= link_to book.top_review.user, user_path(book.top_review.user) %>
      Rating: <%= book.top_review.rating %></p>
    </div>
  </section>
<% end  %>

<%= link_to "Delete Author", author_path(@author), method: :delete %>
