<h1>Books by <%= @author.name %> </h1>

<% @author.books.each do |book| %>
  <section id='book-<%= book.id %>'>
    <h3><%= link_to book.title, book_path(book) %></h3>
    <p>Rating: <%= book.rating_avg %></p>
    <p>Reviews: <%= book.reviews_count %></p>
    <p>Pages: <%= book.pages %></p>
    <p>Published: <%= book.published %></p>
    <img src=<%= book.image %> alt=<%= book.title %> style="width:200px;height:200px;">
    <p>Co-authors: <%= book.co_authors(@author).join(", ").presence || "None" %></p>

    <strong>Highest Rated Review</strong>
    <p><%= link_to book.top_review.title, review_path(book.top_review.title) %><p>
    <p>Review Rating:<%= book.top_review.rating %><p>
    <p>User:<%= book.top_review.user %><p>
    <p>Comment:<%= book.top_review.comment %><p>
  </section>
<% end  %>
