<% if @books.empty? %>
  <h1>There are no books. Please add one.</h1>
  <%= link_to "Create a New Book", new_book_path %>
<% else %>

<div class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Sort Books By
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="/books?table=pagesDESC">Most Pages</a>
    <a class="dropdown-item" href="/books?table=pagesASC">Least Pages</a>
    <a class="dropdown-item" href="/books?table=countsDESC">Most Reviews</a>
    <a class="dropdown-item" href="/books?table=countsASC">Least Reviews</a>
    <a class="dropdown-item" href="/books?table=ratedDESC">Highest Rated</a>
    <a class="dropdown-item" href="/books?table=ratedASC">Least Rated</a>
  </div>
</div>


<section class='statistics float-right'>
  <h3>Statistics</h3>
  <ol><h4>Highest Rated Books <% @books_highest_rated.first(3).each do |book|  %> </h4>
    <li>Title <%= book.title %> </li>
    <p>Average Rating: <%= book.rating_avg || "No Reviews" %></p>
  <% end %> </ol>

  <ol><h4>Lowest Rated Reviews <% @books_lowest_rated.first(3).each do |book|  %> </h4>
    <li> <%= book.title %> </li>
    <p>Average Rating: <%= book.rating_avg || "No Reviews" %></p>
  <% end %></ol>

  <ol><h4>Best Users <% @top_users.each do |user|  %></h4>
    <li><p>User name: <%= user.user %></p>
    <p>Review count: <%= user.count %></li>
  <% end %></ol>
</section>

<% @books.each do |book| %>
  <section id="book-<%= book.id %>"
    <h2><%= link_to book.title, book_path(book) %> <%= book.review_description %></h2>
    <p>Author(s): <%= book.list_authors.join(", ") %></p>
    <p>Pages: <%= book.pages %></p>
    <p>Published: <%= book.published %></p>
    <img src=<%= book.image %> alt=<%= book.title %> style="width:200px;height:200px;">
  </section>
<% end %>

  <%= link_to "Create a New Book", new_book_path %>
<% end %>
