<h1>All Books</h1>

<ul id="books">
  <% @books.each do |book| %>
    <li>
      <h2><a href="/books/<%= book.id %>"><%= book.title %></a></h2>
      <%= book.pages %>
      <%= book.authors %>
      <%= book.published %>
      <%= book.image %>
    </li>
  <% end %>
</ul>
