<% if @books.empty? %>
  <h1>There are no books. Please add one.</h1>
  <%= link_to "Create a New Book", new_book_path %>
<% else %>

  <div class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Sort Books By
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="/books?sort=pagesDESC">Most Pages</a>
      <a class="dropdown-item" href="/books?table=pagesASC">Least Pages</a>
      <a class="dropdown-item" href="/books?table=countsDESC">Most Reviews</a>
      <a class="dropdown-item" href="/books?table=countsASC">Least Reviews</a>
      <a class="dropdown-item" href="/books?table=ratedDESC">Highest Rated</a>
      <a class="dropdown-item" href="/books?table=ratedASC">Least Rated</a>
    </div>
  </div>


<section class='statistics'>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Statistics
  </button>

<div class="collapse" id="collapseExample">
<div class="card card-body">

  <ol><h4>Highest Rated Books <% @book.top_3_books.each do |book|  %> </h4>
      <li>Title <%= book.title %> </li>
        <p>Average Rating: <%= book.rating_avg %></p>
      <% end %> </ol>
  <ol><h4>Lowest Rated Reviews <% @books_ do |book|  %> </h4>
    <li> <%= book.title %> </li>
    <p>Average Rating: <%= book.rating_avg %></p>
  <% end %></ol>

</div>
</section>

<% @books.each do |book| %>
  <section id="book-<%= book.id %>"
    <h2><%= link_to book.title, book_path(book) %> <%= book.review_description %></h2>
    <p>Author(s): <%= book.list_authors.join(", ") %></p>
    <p>Pages: <%= book.pages %></p>
    <p>Published: <%= book.published %></p>
    <img src=<%= book.image %> alt=<%= book.title %> style="width:200px;height:200px;">
  </section>
<% end %>

  <%= link_to "Create a New Book", new_book_path %>
<% end %>
