<h1 style="color:white; padding: 1%;"><%= @book.title %></h1>

<section class='statistics' style="width:100%; padding: 1%;">
  <p>
    <a class="btn btn-dark" data-toggle="collapse" href="#OverallRating" role="button" aria-expanded="false" aria-controls="multiReviews">Show Overall Rating</a>
    <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#TopReviews" aria-expanded="false" aria-controls="multiReviews">Show Top Reviews</button>
    <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#BottomReviews" aria-expanded="false" aria-controls="multiReviews">Show Bottom Reviews</button>
    <button class="btn btn-dark" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiReviews">Show All</button>
  </p>
  <div class="row">
    <div class="col">
      <div class="collapse multi-collapse" id="OverallRating">
        <div class="card card-body">
          <h4>Overall Rating: <%= @book.rating_avg.round(1) %></h4>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="collapse multi-collapse" id="TopReviews">
        <div class="card card-body">
          <h4>Top 3 Reviews</h4>
          <ol>
            <% @book.top_3_reviews.each do |review| %>
              <li><p><%= link_to review.title, review_path(review) %></p></li>
              <p>Rating: <%= review.rating %></p>
              <p>User: <%= link_to review.user, user_path(review.user) %></p>
            <% end %>
          </ol>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="collapse multi-collapse" id="BottomReviews">
        <div class="card card-body">
          <h4>Bottom 3 Reviews</h4>
          <ol>
            <% @book.bottom_3_reviews.each do |review| %>
              <li><p><%= link_to review.title, review_path(review) %></p></li>
              <p>Rating: <%= review.rating %></p>
              <p>User: <%= link_to review.user, user_path(review.user) %></p>
            <% end %>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>

<section style="color:white;padding:1%;">
  <p><img src=<%= @book.image %> alt=<%= @book.title %> style="width:400px;height:400px;float:center"></p>
  <p>Author(s):
    <% @book.authors.each do |author| %>
    <%= link_to author.name, author_path(author) %><%= ", " if author != @book.authors.last %>
    <% end %></p>
  <p>Pages: <%= @book.pages %></p>
  <p>Published: <%= @book.published %></p>
</section>
<h3 style="color:white;padding:1%;">Reviews</h3>
<p style="padding:0 0 0 1%;"><%= link_to "Add Review", new_book_review_path(@book) %></p>

<div class="review-list" style="padding:1%;">
  <% @book.reviews.each do |review| %>
    <div id="review-<%= review.id %>" class="card mb-3 review-info">
      <div class="row no-gutters">
        <div class="col-md-9">
          <div class="card-body">
            <h5 class="card-title"><%= link_to review.title, review_path(review) %></h5>
            <p class="card-text">
              <p>Rating: <%= review.rating %></p>
              <p>By: <%= link_to review.user, user_path(review.user) %></p>
              <p>Comment: <%= review.comment %></p>
            </p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<section style="padding:1%;">
  <%= link_to "Edit Book", edit_book_path(@book) %><br>
  <%= link_to "Delete Book", book_path(@book), method: :delete %>
</section>
