<h1><%= @book.title %></h1>

<section class='statistics'>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Statistics
  </button>

  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      <h4>Rating: <%= @book.rating_avg.round(1) %></h4>

      <h4>Top 3 Reviews</h4>
      <ol>
        <% @book.top_3_reviews.each do |review| %>
          <li><p><%= link_to review.title, review_path(review) %></p></li>
          <p>Rating:<%= review.rating %></p>
          <p>User: <%= review.user %></p>
        <% end %>
      </ol>

      <h4>Bottom 3 Reviews</h4>
      <ol>
        <% @book.bottom_3_reviews.each do |review| %>
          <li><p><%= link_to review.title, review_path(review) %></p></li>
          <p>Rating:<%= review.rating %></p>
          <p>User: <%= review.user %></p>
        <% end %>
      </ol>

    </div>
  </div>
</section>

<p>Author(s): <%= @book.list_authors.join(", ") %></p>
<p>Pages: <%= @book.pages %></p>
<p>Published: <%= @book.published %></p>
<img src=<%= @book.image %> alt=<%= @book.title %> style="width:200px;height:200px;">

<h3>Reviews</h3>

<section id="subsection">
  <% @book.reviews.each do |review| %>
    <p><%= link_to review.title, review_path(review) %></p>
    <p>Rating: <%= review.rating %></p>
    <p>By: <%= review.user %></p>
    <p>Comment: <%= review.comment %></p>
  <% end %>
</section>

<%= link_to "Edit Book", edit_book_path(@book) %><br>
<%= link_to "Delete Book", book_path(@book), method: :delete %>
