<h1><%= @book.title %></h1>


<section class='statistics'>
<h3> Statistics <h3>
<ol><p>Top 3 reviews <%= @book.top_3_reviews.each do |review|  %> </p>
    <li> <%= review.title %> </li>
    <li> <%= review.rating %></li>
    <li> <%= review.user %> </li>
    <% end %> </ol>
<ol><p>bottom 3 reviews <%= @book.bottom_3_reviews.each do |review|  %> </p>
  <li> <%= review.title %> </li>
  <li> <%= review.rating %></li>
  <li> <%= review.user %> </li>
<% end %></ol>
<p>Rating: <%= @book.rating_avg.round(2) %> </p>

</section>


<p>Reviews: <%= @book.reviews_count %> </p>
<p>Author(s): <%= @book.list_authors.join(", ") %></p>
<p>Pages: <%= @book.pages %></p>
<p>Published: <%= @book.published %></p>
<img src=<%= @book.image %> alt=<%= @book.title %> style="width:200px;height:200px;">

<h3>Reviews</h3>

<section id="subsection">
  <% @book.reviews.each do |review| %>
    <p><%= link_to review.title, review_path(review) %></p>
    <p>Rating: <%= review.rating %></p>
    <p>By: <%= review.user %></p>
    <p>Comment: <%= review.comment %></p>
  <% end %>
</section>

<%= link_to "Edit Book", edit_book_path(@book) %><br>
<%= link_to "Delete Book", book_path(@book), method: :delete %>
