<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= @review.title %></h5>
      <p class="card-text"><p>Rating: <%= @review.rating.round(1) %></p>
      <p>By: <%= link_to @review.user, user_path(@review.user) %></p>
      <p>Comment: <%= @review.comment %></p>
    </div>
    <div class="card-footer">
      <%= link_to "Delete Review", review_path(@review), method: :delete %><br>
      <%= link_to "Edit Review", edit_review_path(@review) %>
    </div>
  </div>
</div>
